DECORATOR

In [9]:
def uppercase_decorator(function):
    def wrapper():
        func = function()
        make_uppercase = func.upper()
        return make_uppercase
    return wrapper

@uppercase_decorator
def say_hi():
    return 'hello there'

say_hi()

'HELLO THERE'

In [18]:
def a(x:str):
    def wrapper():  
        x = str()
        return x.split(".")
    return wrapper

@a
def splitOnDot():
    return "V.R. Vinod"

splitOnDot()

['']

In [21]:
import functools

def space_decorator(func):
    @functools.wraps(func)
    def wrapper():
        return func().split()
    return wrapper

@space_decorator
def splitOnSpace():
    return "Vinod Rangaswamy Vukkalam"
splitOnSpace()

['Vinod', 'Rangaswamy', 'Vukkalam']

In [25]:
import functools

def mulBy2(z):
    @functools.wraps(z)
    def wrap():
        return z()*2
    return wrap

@mulBy2
def numt(x:int=10):
    return x

print(numt)
numt()

<function numt at 0x00000154234C3A60>

20

In [36]:
def mul_by_ten(x:int):
    return x * 10

def callFunction(function,z:int=5):    
    return function(z)

callFunction(mul_by_ten)

50

In [31]:
x = lambda i:i+10
print(x)
x(90)

<function <lambda> at 0x00000154234C3730>

100

In [33]:
callFunction(mul_by_ten,10)

100

In [35]:
import pandas as pd

In [38]:
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],columns=['c1','c2','c3'],index=['r1','r2','r3'])

In [39]:
df

    c1  c2  c3
r1   1   2   3
r2   4   5   6
r3   7   8   9

In [40]:
df['c4'] = [0,0,0]

In [41]:
df

    c1  c2  c3  c4
r1   1   2   3   0
r2   4   5   6   0
r3   7   8   9   0

In [46]:
df.loc[3] = [0,0,0,0]

In [47]:
df

    c1  c2  c3  c4
r1   1   2   3   0
r2   4   5   6   0
r3   7   8   9   0
3    0   0   0   0

In [49]:
df.drop(3)

    c1  c2  c3  c4
r1   1   2   3   0
r2   4   5   6   0
r3   7   8   9   0

In [51]:
df.loc['r4'] = [0,0,0,0]

In [52]:
df

    c1  c2  c3  c4
r1   1   2   3   0
r2   4   5   6   0
r3   7   8   9   0
3    0   0   0   0
r4   0   0   0   0

In [53]:
df.drop(3)

    c1  c2  c3  c4
r1   1   2   3   0
r2   4   5   6   0
r3   7   8   9   0
r4   0   0   0   0

In [54]:
df

    c1  c2  c3  c4
r1   1   2   3   0
r2   4   5   6   0
r3   7   8   9   0
3    0   0   0   0
r4   0   0   0   0

In [57]:
df.drop(3,axis=0)

    c1  c2  c3  c4
r1   1   2   3   0
r2   4   5   6   0
r3   7   8   9   0
r4   0   0   0   0

In [58]:
df

    c1  c2  c3  c4
r1   1   2   3   0
r2   4   5   6   0
r3   7   8   9   0
3    0   0   0   0
r4   0   0   0   0

In [59]:
df.drop(3,axis=0,inplace=True)

In [60]:
df

    c1  c2  c3  c4
r1   1   2   3   0
r2   4   5   6   0
r3   7   8   9   0
r4   0   0   0   0

drop help data

Help on method drop in module pandas.core.frame:

drop(labels=None, axis=0, index=None, columns=None, level=None, inplace=False, errors='raise') method of pandas.core.frame.DataFrame instance
    Drop specified labels from rows or columns.
    
    Remove rows or columns by specifying label names and corresponding
    axis, or by specifying directly index or column names. When using a
    multi-index, labels on different levels can be removed by specifying
    the level.
    
    Parameters
    ----------
    labels : single label or list-like
        Index or column labels to drop.
    axis : {0 or 'index', 1 or 'columns'}, default 0
        Whether to drop labels from the index (0 or 'index') or
        columns (1 or 'columns').
    index : single label or list-like
        Alternative to specifying axis (``labels, axis=0``
        is equivalent to ``index=labels``).
    
        .. versionadded:: 0.21.0
    columns : single label or list-like
        Alternative to specifying axis (``labels, axis=1``
        is equivalent to ``columns=labels``).
    
        .. versionadded:: 0.21.0
    level : int or level name, optional
        For MultiIndex, level from which the labels will be removed.
    inplace : bool, default False
        If True, do operation inplace and return None.
    errors : {'ignore', 'raise'}, default 'raise'
        If 'ignore', suppress error and only existing labels are
        dropped.
    
    Returns
    -------
    DataFrame
        DataFrame without the removed index or column labels.
    
    Raises
    ------
    KeyError
        If any of the labels is not found in the selected axis.
    
    See Also
    --------
    DataFrame.loc : Label-location based indexer for selection by label.
    DataFrame.dropna : Return DataFrame with labels on given axis omitted
        where (all or any) data are missing.
    DataFrame.drop_duplicates : Return DataFrame with duplicate rows
        removed, optionally only considering certain columns.
    Series.drop : Return Series with specified index labels removed.
    
    Examples
    --------
    >>> df = pd.DataFrame(np.arange(12).reshape(3, 4),
    ...                   columns=['A', 'B', 'C', 'D'])
    >>> df
       A  B   C   D
    0  0  1   2   3
    1  4  5   6   7
    2  8  9  10  11
    
    Drop columns
    
    >>> df.drop(['B', 'C'], axis=1)
       A   D
    0  0   3
    1  4   7
    2  8  11
    
    >>> df.drop(columns=['B', 'C'])
       A   D
    0  0   3
    1  4   7
    2  8  11
    
    Drop a row by index
    
    >>> df.drop([0, 1])
       A  B   C   D
    2  8  9  10  11
    
    Drop columns and/or rows of MultiIndex DataFrame
    
    >>> midx = pd.MultiIndex(levels=[['lama', 'cow', 'falcon'],
    ...                              ['speed', 'weight', 'length']],
    ...                      codes=[[0, 0, 0, 1, 1, 1, 2, 2, 2],
    ...                             [0, 1, 2, 0, 1, 2, 0, 1, 2]])
    >>> df = pd.DataFrame(index=midx, columns=['big', 'small'],
    ...                   data=[[45, 30], [200, 100], [1.5, 1], [30, 20],
    ...                         [250, 150], [1.5, 0.8], [320, 250],
    ...                         [1, 0.8], [0.3, 0.2]])
    >>> df
                    big     small
    lama    speed   45.0    30.0
            weight  200.0   100.0
            length  1.5     1.0
    cow     speed   30.0    20.0
            weight  250.0   150.0
            length  1.5     0.8
    falcon  speed   320.0   250.0
            weight  1.0     0.8
            length  0.3     0.2
    
    >>> df.drop(index='cow', columns='small')
                    big
    lama    speed   45.0
            weight  200.0
            length  1.5
    falcon  speed   320.0
            weight  1.0
            length  0.3
    
    >>> df.drop(index='length', level=1)
                    big     small
    lama    speed   45.0    30.0
            weight  200.0   100.0
    cow     speed   30.0    20.0
            weight  250.0   150.0
    falcon  speed   320.0   250.0
            weight  1.0     0.8

​