In [1]:
import pandas as pd

In [4]:
df = pd.DataFrame([[1,2,3],[4,5,6]],columns=['C1','C2','C3'],index=['R1','R2'])

In [5]:
df

    C1  C2  C3
R1   1   2   3
R2   4   5   6

In [7]:
df.iloc[0]

C1    1
C2    2
C3    3
Name: R1, dtype: int64

In [8]:
df.iloc[0,2]

3

In [10]:
df.loc['R1','C1']

1

In [11]:
df.loc['R1']

C1    1
C2    2
C3    3
Name: R1, dtype: int64

In [16]:
df.loc[:,'C1']

R1    1
R2    4
Name: C1, dtype: int64

In [17]:
df.loc['R1',:]

C1    1
C2    2
C3    3
Name: R1, dtype: int64

In [18]:
df.iloc[0,:]

C1    1
C2    2
C3    3
Name: R1, dtype: int64

In [19]:
df.iloc[:,1]

R1    2
R2    5
Name: C2, dtype: int64

In [20]:
df.iloc[:,2]

R1    3
R2    6
Name: C3, dtype: int64

In [21]:
df.iloc[1,:]

C1    4
C2    5
C3    6
Name: R2, dtype: int64