In [7]:
import pandas as pd
import numpy as np

In [9]:
df = pd.DataFrame([[np.nan,2,np.nan,0],[3,np.nan,0,np.nan],[8,np.nan,np.nan,np.nan],[2,0,0,np.nan]],columns=list('ABCD'))

In [10]:
df

     A    B    C    D
0  NaN  2.0  NaN  0.0
1  3.0  NaN  0.0  NaN
2  8.0  NaN  NaN  NaN
3  2.0  0.0  0.0  NaN

In [11]:
df.dropna(axis=1)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]

In [12]:
df

     A    B    C    D
0  NaN  2.0  NaN  0.0
1  3.0  NaN  0.0  NaN
2  8.0  NaN  NaN  NaN
3  2.0  0.0  0.0  NaN

In [13]:
df.dropna(axis=1,inplace=True)

In [14]:
df

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]

In [15]:
df

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]

In [16]:
df = pd.DataFrame([[np.nan,2,np.nan,0],[3,np.nan,0,np.nan],[8,np.nan,np.nan,np.nan],[2,0,0,np.nan]],columns=list('ABCD'))

In [17]:
df.dropna(axis=0)

Empty DataFrame
Columns: [A, B, C, D]
Index: []

In [18]:
df

     A    B    C    D
0  NaN  2.0  NaN  0.0
1  3.0  NaN  0.0  NaN
2  8.0  NaN  NaN  NaN
3  2.0  0.0  0.0  NaN

In [21]:
df.dropna(axis=0,inplace=True)

In [22]:
df

Empty DataFrame
Columns: [A, B, C, D]
Index: []

In [23]:
df = pd.DataFrame([[np.nan,2,np.nan,0],[3,np.nan,0,np.nan],[8,np.nan,np.nan,np.nan],[2,0,0,np.nan]],columns=list('ABCD'))

In [24]:
df.dropna

<bound method DataFrame.dropna of      A    B    C    D
0  NaN  2.0  NaN  0.0
1  3.0  NaN  0.0  NaN
2  8.0  NaN  NaN  NaN
3  2.0  0.0  0.0  NaN>

In [25]:
df

     A    B    C    D
0  NaN  2.0  NaN  0.0
1  3.0  NaN  0.0  NaN
2  8.0  NaN  NaN  NaN
3  2.0  0.0  0.0  NaN

In [27]:
df.dropna(inplace=True)

In [28]:
df

Empty DataFrame
Columns: [A, B, C, D]
Index: []

In [29]:
df = pd.DataFrame([[np.nan,2,np.nan,0],[3,np.nan,0,np.nan],[8,np.nan,np.nan,np.nan],[2,0,0,np.nan]],columns=list('ABCD'))

In [30]:
df

     A    B    C    D
0  NaN  2.0  NaN  0.0
1  3.0  NaN  0.0  NaN
2  8.0  NaN  NaN  NaN
3  2.0  0.0  0.0  NaN

In [31]:
df.fillna(10,inplace=True)

In [32]:
df

      A     B     C     D
0  10.0   2.0  10.0   0.0
1   3.0  10.0   0.0  10.0
2   8.0  10.0  10.0  10.0
3   2.0   0.0   0.0  10.0

In [33]:
df.mean

<bound method DataFrame.mean of       A     B     C     D
0  10.0   2.0  10.0   0.0
1   3.0  10.0   0.0  10.0
2   8.0  10.0  10.0  10.0
3   2.0   0.0   0.0  10.0>

In [34]:
df.median

<bound method DataFrame.median of       A     B     C     D
0  10.0   2.0  10.0   0.0
1   3.0  10.0   0.0  10.0
2   8.0  10.0  10.0  10.0
3   2.0   0.0   0.0  10.0>

In [35]:
df.loc[1].mean()

5.75

In [36]:
df.mean()

A    5.75
B    5.50
C    5.00
D    7.50
dtype: float64

In [37]:
df.loc[2].mean()

9.5

In [38]:
df.loc[:]['A'].mean()

5.75

In [39]:
df.loc[:]['A'].median()

5.5

In [40]:
df.loc[:]['A'].std()

3.8622100754188224